<!DOCTYPE html>
<html>
<head>
    <title>Weather App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body class="bg-primary-subtle">

    <div class="position-absolute top-50 start-50 translate-middle border border-primary p-5 rounded-4 bg-warning-subtle">
         <h1>Weather App 🌦️</h1>
         <br>
    <form method="get">
    <div class="input-group mb-3">
  <input type="text" name="city" placeholder="Enter city" class="outline-light form-control">
  <span class="input-group-text" id="basic-addon2"><button type="submit" class="btn btn-light">Search</button></span>
</div>
</form>



    <h2>{{ weather.city }}</h2>
   
    <p>Temperature: {{ weather.temperature }} °C    <img src="{{ weather.icon }}" alt="" srcset=""></p>
    <p>Description: {{ weather.description }}</p>
    <p>lat: {{weather.lat}}</p>
    <p>lon: {{weather.lon}}</p>
    </div>
   


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>